  body
    link(rel='stylesheet', href='stylesheets/side-menu.css')
    #layout
      //
         Menu toggle 
      a#menuLink.menu-link(href='#menu')
        //
           Hamburger icon 
        span
      #menu
        .pure-menu.pure-menu-open
          a.pure-menu-heading(href='#') #{name}
          ul
            li
              a(href='#') Team
            li
              a(href='#') Schedule
            li.menu-item-divided.pure-menu-selected
              a(href='#') Statistics
            li
              a(href='#') Trading
      #main
