
body
  link(rel='stylesheet', href='stylesheets/side-menu.css')
  link(href='/stylesheets/style.css' rel='stylesheet')


  #layout

    a#menuLink.menu-link(href='#menu')

      span
    #menu
      .pure-menu.pure-menu-open
        a.pure-menu-heading#name(href='#') #{name}
        ul
          li.menu-item-divided.pure-menu-selected
            a(href='#roster') Roster
          li
            a(href='#sched') Schedule
          li
            a(href='#stats') Statistics
          li
            a(href='#trade') Trading
        footer.contact
            a(href='#contact') Contact Us
        footer.terms
            a(href='#contact') Terms of Service
    #main
      .pure-g-r.is-center
        container.is-center#roster
          include roster
        container.is-center#draftteam
          include draftteam



