h1.greeting.content-head.is-center
    |Your Roster
hr.fancy-line1
.rostercontainer
    .pure-g-r.roster.is-center
        .pure-u-1-5.top
            .pure-g-r.mid
                h3.content-head.is-center.role Top
            .pure-g-r.mid.is-center
                h2.content-head.is-center.playernametop Hotshot
            .pure-g-r.is-center
                h5.content-head.is-center.kda 
                    span.scoretitle KDA| 
                    span.score 34
                    | 
                    i.fa.fa-caret-up.fa-lg
                    | 
                    span.percent 35%

            .pure-g-r.is-center
                h5.content-head.is-center.gold
                    span.scoretitle Gold| 
                    span.score 34
                    | 
                    i.fa.fa-caret-up.fa-lg
                    | 
                    span.percent 35%
            .pure-g-r.is-center
                h5.content-head.is-center.part
                    span.scoretitle Part| 
                    span.score 34
                    | 
                    i.fa.fa-caret-up.fa-lg
                    | 
                    span.percent 35%
            .pure-g-r.is-center
                h5.content-head.is-center.cs
                    span.scoretitle CS| 
                    span.score 34
                    | 
                    i.fa.fa-caret-up.fa-lg
                    | 
                    span.percent 35%
            .pure-g-r.is-center
                h5.content-head.is-center.total
                    span.scoretitle Total| 
                    span.score 34
                    | 
                    i.fa.fa-caret-up.fa-lg
                    | 
                    span.percent 35%

        .pure-u-1-5.mid
            .pure-g-r.mid
                h3.content-head.is-center.role Mid
            .pure-g-r.mid.is-center
                h2.content-head.is-center.playernamemid Player1
            .pure-g-r.is-center
                h5.content-head.is-center.kda 
                    span.scoretitle KDA| 
                    span.score 34
                    | 
                    i.fa.fa-caret-up.fa-lg
                    | 
                    span.percent 35%

            .pure-g-r.is-center
                h5.content-head.is-center.gold
                    span.scoretitle Gold| 
                    span.score 34
                    | 
                    i.fa.fa-caret-up.fa-lg
                    | 
                    span.percent 35%
            .pure-g-r.is-center
                h5.content-head.is-center.part
                    span.scoretitle Part| 
                    span.score 34
                    | 
                    i.fa.fa-caret-up.fa-lg
                    | 
                    span.percent 35%
            .pure-g-r.is-center
                h5.content-head.is-center.cs
                    span.scoretitle CS| 
                    span.score 34
                    | 
                    i.fa.fa-caret-up.fa-lg
                    | 
                    span.percent 35%
            .pure-g-r.is-center
                h5.content-head.is-center.total
                    span.scoretitle Total| 
                    span.score 34
                    | 
                    i.fa.fa-caret-up.fa-lg
                    | 
                    span.percent 35%

        .pure-u-1-5.jungle
            .pure-g-r.mid
                h3.content-head.is-center.role Jungle
            .pure-g-r.mid.is-center
                h2.content-head.is-center.playernamejungle Player1
             .pure-g-r.is-center
                h5.content-head.is-center.kda 
                    span.scoretitle KDA| 
                    span.score 34
                    | 
                    i.fa.fa-caret-up.fa-lg
                    | 
                    span.percent 35%

            .pure-g-r.is-center
                h5.content-head.is-center.gold
                    span.scoretitle Gold| 
                    span.score 34
                    | 
                    i.fa.fa-caret-up.fa-lg
                    | 
                    span.percent 35%
            .pure-g-r.is-center
                h5.content-head.is-center.part
                    span.scoretitle Part| 
                    span.score 34
                    | 
                    i.fa.fa-caret-up.fa-lg
                    | 
                    span.percent 35%
            .pure-g-r.is-center
                h5.content-head.is-center.cs
                    span.scoretitle CS| 
                    span.score 34
                    | 
                    i.fa.fa-caret-up.fa-lg
                    | 
                    span.percent 35%
            .pure-g-r.is-center
                h5.content-head.is-center.total
                    span.scoretitle Total| 
                    span.score 34
                    | 
                    i.fa.fa-caret-up.fa-lg
                    | 
                    span.percent 35%
            
        .pure-u-1-5.adc
            .pure-g-r.mid
                h3.content-head.is-center.role Marksman
            .pure-g-r.mid.is-center
                h2.content-head.is-center.playernameadc Player1
                
            .pure-g-r.is-center
                h5.content-head.is-center.kda 
                    span.scoretitle KDA| 
                    span.score 34
                    | 
                    i.fa.fa-caret-up.fa-lg
                    | 
                    span.percent 35%

            .pure-g-r.is-center
                h5.content-head.is-center.gold
                    span.scoretitle Gold| 
                    span.score 34
                    | 
                    i.fa.fa-caret-up.fa-lg
                    | 
                    span.percent 35%
            .pure-g-r.is-center
                h5.content-head.is-center.part
                    span.scoretitle Part| 
                    span.score 34
                    | 
                    i.fa.fa-caret-up.fa-lg
                    | 
                    span.percent 35%
            .pure-g-r.is-center
                h5.content-head.is-center.cs
                    span.scoretitle CS| 
                    span.score 34
                    | 
                    i.fa.fa-caret-up.fa-lg
                    | 
                    span.percent 35%
            .pure-g-r.is-center
                h5.content-head.is-center.total
                    span.scoretitle Total| 
                    span.score 34
                    | 
                    i.fa.fa-caret-up.fa-lg
                    | 
                    span.percent 35%
            
        .pure-u-1-5.support
            .pure-g-r.mid.is-center
                h3.content-head.is-center.role Support
            .pure-g-r.mid.is-center
                h2.content-head.is-center.playernamesupport Player1
                
            .pure-g-r.is-center
                h5.content-head.is-center.kda 
                    span.scoretitle KDA| 
                    span.score 34
                    | 
                    i.fa.fa-caret-up.fa-lg
                    | 
                    span.percent 35%

            .pure-g-r.is-center
                h5.content-head.is-center.gold
                    span.scoretitle Gold| 
                    span.score 34
                    | 
                    i.fa.fa-caret-up.fa-lg
                    | 
                    span.percent 35%
            .pure-g-r.is-center
                h5.content-head.is-center.part
                    span.scoretitle Part| 
                    span.score 34
                    | 
                    i.fa.fa-caret-up.fa-lg
                    | 
                    span.percent 35%
            .pure-g-r.is-center
                h5.content-head.is-center.cs
                    span.scoretitle CS| 
                    span.score 34
                    | 
                    i.fa.fa-caret-up.fa-lg
                    | 
                    span.percent 35%
            .pure-g-r.is-center
                h5.content-head.is-center.total
                    span.scoretitle Total| 
                    span.score 34
                    | 
                    i.fa.fa-caret-up.fa-lg
                    | 
                    span.percent 35%
        

