@import 'main-grid'
@import 'marketing'

establish-baseline('normalize')
grid()

$font1 ='Hammersmith One', sans-serif

*
    font-family $font1


#signup
    color white
    background green
    bold()