

@import 'main-grid'
@import 'marketing'
@import 'axis'

$font1 ='Hammersmith One', sans-serif

*
    font-family $font1


#signup
    color white
    background green
    bold()
.
#signupheader
    :hover
        background-color: transparent

.contactus
    cursor pointer


.splash
    overflow visible

.error
    color red