
@import 'main-grid'
@import 'marketing'

$font1 ='Hammersmith One', sans-serif

*
    font-family $font1


#signup
    color white
    background green
    bold()
.
#signupheadercontainer
    :hover
        background-color: transparent
#signupheader
    :hover
        background-color: transparent
.contactus
    cursor pointer


.splash
    overflow visible

.error
    color red

.rostercontainer
    max-width: 1500px
    margin-left: auto
    margin-right: auto



@import 'side-menu.styl'