#signupheader
    :hover
        background-color: transparent


#menu
    margin-top: 55px


a.pure-menu-heading#name
    background green


.contact
    position: fixed
    bottom: 43px
.terms
    position: fixed
    bottom: 0


hr.fancy-line1
    height: 4px
    background-color: green
    width: 50%

hr.fancy-line1
    border: 0
    background: linear-gradient(bottom left, white, 50% green, white)

.stat
    margin-left: auto
    margin-right: auto