#signupheader
    :hover
        background-color: transparent


#menu
    margin-top: 55px


a.pure-menu-heading#name
    background green


.contact
    position: fixed
    bottom: 43px
.terms
    position: fixed
    bottom: 0


hr.fancy-line1
    height: 4px
    background-color: green
    width: 50%

hr.fancy-line1
    border: 0
    background: linear-gradient(bottom left, white, 50% green, white)

.stat
    margin-left: auto
    margin-right: auto

#roster
    margin-left: auto
    margin-right: auto
    width: 100%
    height: 100%

#main
    height: 100%
    .pure-g-r.is-center
        height: 100%

.role
    color: blue

h3.content-head.is-center.role,
h2.content-head.is-center.playernametop,
h2.content-head.is-center.playernamemid,
h2.content-head.is-center.playernamejungle,
h2.content-head.is-center.playernameadc,
h2.content-head.is-center.playernamesupport,
h5.content-head.is-center.cumulative,
h5.content-head.is-center.kda,
h5.content-head.is-center.part,
h5.content-head.is-center.gold,
h5.content-head.is-center.cs,
h5.content-head.is-center.total,
#draftteam,
#ranking,
table.pure-table.pure-table-bordered
    margin-left: auto
    margin-right: auto

h3.content-head.is-center.role,
h2.content-head.is-center.playername
    margin-bottom: 0
    margin-top: 5

#draftteam,
#ranking,
table.pure-table.pure-table-bordered
    width: 100%
    height: 100%

    margin-left: auto
    margin-right: auto
div.pure-g-r.mid.is-center
    margin-left: auto
    margin-right: auto

.draftteamcontainer,
.rankingcontainer,
table.pure-table.pure-table-bordered
    max-width: 1000px
    margin-left: auto   
    margin-right: auto
input.pure-input-1-5.pure-input-rounded
    margin-left: auto   
    margin-right: auto
    border-radius: 10px / 5px
    padding: 5px 5px 5px 5px

#draftnow
    background-color: green
    color: white
    font-family: 'Hammersmith One', sans-serif
    font-size: large
    margin-top: 20px
    margin-left: auto
    margin-right: auto
.error.draft
    width: 100%
    box-sizing: inherit
    letter-spacing: .05em
table.pure-table.pure-table-bordered
    letter-spacing: .05em
span.scoretitle
    color: green
    font-size: 120%
span.score
    font-size: 120%
span.percent
    color: #A65A00
    font-size: 120%


h2.content-head.is-center.playernametop,
h2.content-head.is-center.playernamemid,
h2.content-head.is-center.playernamejungle,
h2.content-head.is-center.playernameadc,
h2.content-head.is-center.playernamesupport
    font-size: 150%

#loginusername, #loginpassword
    border-radius: 10px / 5px
    padding: 5px 5px 5px 5px
    border: none
#loginpassword
    margin-left: 5px
#loginerror
    color: red

.owned
    background-color: lightblue