doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='League of Legends Fantasy Draft')
    title Fantasy League 2014 Alpha
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js')
    script(src='http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js')
    link(rel='stylesheet' href='http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css')
    link(rel='stylesheet' href='stylesheets/main.css')
    link(rel='stylesheet' href='http://yui.yahooapis.com/pure/0.3.0/pure-min.css')
    script(src='http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js')
    script(src='javascripts/main.js')

    script(src='http://ajax.aspnetcdn.com/ajax/modernizr/modernizr-2.7.1.js')

    link(rel='stylesheet' href='http://fonts.googleapis.com/css?family=Duru+Sans|Hammersmith+One')
  body
    
    .header
      .home-menu.pure-menu.pure-menu-open.pure-menu-horizontal.pure-menu-fixed
        a.pure-menu-heading(href='') Fantasy League Draft 2014 alpha
        ul
          li#loginerror
            
          li
            input.pure-input-1.pure-input-rounded#loginusername(type="text" placeholder="Username")
          li
            input.pure-input-1.pure-input-rounded#loginpassword(type="password" placeholder="Password")
          li#signupheader
            a#signupheaderchild(href='') Login
    div.deck
      .splash-container
        .splash
          h1.splash-head Welcome Fantasy Summoners
          p.splash-subhead
            | Become legendary
          p
            a(href='#deck2').pure-button.pure-button-primary Get Started
      .content-wrapper
        .content#deck2
          h2.content-head.is-center Exceptional Drafting for Exceptional People
          .pure-g
            .l-box.pure-u-1.pure-u-med-1-2.pure-u-lrg-1-4
              h3.content-subhead
                i.fa.fa-rocket
                | Rock-solid scoring algorithms
              p
                | Developed by in-house statistical gurus, expect a nuanced and potent scoring system.
            .l-box.pure-u-1.pure-u-med-1-2.pure-u-lrg-1-4
              h3.content-subhead
                i.fa.fa-clock-o
                | Online 24/7
              p
                | Keep track of your score and make trades whenever you want.
            .l-box.pure-u-1.pure-u-med-1-2.pure-u-lrg-1-4
              h3.content-subhead
                i.fa.fa-th-large
                | Intuitive UI
              p
                | Intuitive UI is hassle-free and refreshing, enhancing your drafting experience.
            .l-box.pure-u-1.pure-u-med-1-2.pure-u-lrg-1-4
              h3.content-subhead
                i.fa.fa-bar-chart-o
                | Powerful and dynamic statistics
              p
                | Draft your team by the numbers. Develop your drafting strategy with compelling metrics and real-time statistics.
        .ribbon.l-box-lrg.pure-g
          .l-box-lrg.is-center.pure-u-1.pure-u-med-1-2.pure-u-lrg-2-5
            img.pure-img-responsive(alt='League of Legends Championship Series', width='300', src='images/lcslogo.png')
          .pure-u-1.pure-u-med-1-2.pure-u-lrg-3-5
            h2.content-head.content-head-ribbon Draft a team from the North American and European LCS
            p
              | Form your roster from 80 of the most dominant players in North America and Europe. Earn points every week based on the performance of your players. Compete with fellow fantasy summoners.
        .content
          h2.content-head.is-center Are you ready?
          .pure-g
            .l-box-lrg.pure-u-1.pure-u-med-2-5
              form.pure-form.pure-form-stacked#signupform
                  label(for='name') Your Summoner Name
                  input#name(type='text', placeholder='Summoner Name' name='name')
                  label(for='email') Your Email
                  input#email(type='text', placeholder='Email' name='email')
                  label(for='password') Your Password
                  input#password(type='password', placeholder='Password' name='password') 
                  button.pure-button#signup(type='submit') Sign Up
              div.registrationfail
            .l-box-lrg.pure-u-1.pure-u-med-3-5
              h4.contactus(href=' ') Contact Us
              p Terms and Conditions
              p
                | 24
              h4 
      .footer.l-box.is-center
        |#ost24
    link(rel='stylesheet' href='stylesheets/override.css')
    link(rel="stylesheet" href="http://code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css")



    