h1.greeting.content-head.is-center
    |Your Roster
hr.fancy-line1
.rostercontainer
    .pure-g-r.roster.iscenter
        .pure-u-1-5.top
            .pure-g-r.mid
                h3.content-head.iscenter.stat Top
            .pure-g-r.mid.is-center
                h5.content-head.iscenter.stat Player1
        .pure-u-1-5.mid
            .pure-g-r.mid
                h3.content-head.iscenter.stat Top
            .pure-g-r.mid.is-center
                h5.content-head.iscenter.stat Player1

        .pure-u-1-5.jungle
            .pure-g-r.mid
                h3.content-head.iscenter.stat Top
            .pure-g-r.mid.is-center
                h5.content-head.iscenter.stat Player1
            
        .pure-u-1-5.adc
            .pure-g-r.mid
                h3.content-head.iscenter.stat Top
            .pure-g-r.mid.is-center
                h5.content-head.iscenter.stat Player1
            
        .pure-u-1-5.support
            .pure-g-r.mid.is-center
                h3.content-head.iscenter.stat Top
            .pure-g-r.mid.is-center
                h5.content-head.iscenter.stat Player1
        

